@using GoldenTicket.ViewModels.Account
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@model LoginRequest
@{
	ViewData["Title"] = _localizer["LoginLabel"];
}

<form method="post">
	<input asp-for="Username" placeholder="@_localizer["Username"]">

	<input asp-for="Password" placeholder="@_localizer["Password"]">
	<p>
		<label>
			<input asp-for="RememberMe" type="checkbox" />
			<span>@_localizer["Remember Me?"]</span>
		</label>
	</p>
	<button class="btn" type="submit">
		@_localizer["LoginLabel"]
	</button>
	<div>
		<a asp-action="ForgotPassword">@_localizer["Forgot Password?"]</a>
	</div>
</form>