@using Microsoft.AspNetCore.Identity
@using GoldenTicket.Models
@using GoldenTicket.Data
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@inject SignInManager<Client> _signInManager
@inject UserManager<Client> _userManager

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] - @_localizer["TehnoDesk"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="/css/site.css" media="screen,projection" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	@RenderSection("Style", required: false)
</head>

<body>
	<nav class="purple darken-4">
		<div class="nav-wrapper purple darken-4 container">
			<a class="brand-logo hide-on-med-and-down"><strong class="amber-text text-darken-2"> @_localizer["TehnoDesk"]</strong> </a>
			<ul class="right amber-text text-darken-2">
				@if (_signInManager.IsSignedIn(User))
				{
					<li class="nav-item amber-text text-darken-2">
						@_localizer["Hello"] @_userManager.GetUserName(User)!
					</li>
					<li class="nav-item amber-text text-darken-2">
						<a asp-controller="Account" asp-action="Logout">@_localizer["Logout"]</a>
					</li>
				}
				else
				{
					<li class="nav-item amber-text text-darken-2">
						<a asp-controller="Account" asp-action="Login">@_localizer["Login"]</a>
					</li>
				}
				@if (_signInManager.IsSignedIn(User))
				{
					<li>
						<a asp-controller="Home" asp-action="Index">@_localizer["Profile"]</a>
					</li>
					<li>
						<a asp-controller="Tickets" asp-action="All">@_localizer["Tikets"]</a>
					</li>
					<li>
						<a asp-controller="Clients" asp-action="All">@_localizer["Clients"]</a>
					</li>
					@if (!User.IsInRole(Role.Employee))
					{
						<li>
							<a asp-controller="Reports" asp-action="All">@_localizer["Reports"]</a>
						</li>
					}
					@if (User.IsInRole(Role.Administrator) || User.IsInRole(Role.ViceDeanForFinance))
					{
						<li>
							<a asp-controller="Administrators" asp-action="All">@_localizer["Roles"]</a>
						</li>
					}
				}
				<li>
					@await Html.PartialAsync("_SelectLanguagePartial")
				</li>
			</ul>
		</div>
	</nav>
	<main class="container">
		<h1 id="Title">@ViewData["Title"]</h1>
		@RenderBody()
	</main>

	@RenderSection("Scripts", required: false)
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" crossorigin=" anonymous "></script>
</body>

</html>