@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = $"{Model.Client.FirstName} {Model.Client.LastName}";
}
@using GoldenTicket.Models.ClientsViewModels

@model ClientDetails

<h3>Лични подаци запосленог</h3>
<p>
	@Localizer["Full Name:"] @Model.Client.FirstName @Model.Client.LastName <br>
	@Localizer["Chair:"] @Model.Client.Chair<br>
	@Localizer["Title:"] @Model.Client.Title<br>
	@Localizer["Employment Date:"] @Model.Client.DateAdded.ToString("d")
</p>

<h3>@Localizer["Open Ticket Count:"] @Model.OpenTicketCount</h3>
<table>
	<tr>
		<th>@Localizer["Destination"]</th>
		<th>@Localizer["Institution"]</th>
		<th>@Localizer["Application Date"]</th>
		<th>@Localizer["Urgent"]</th>
	</tr>
	@foreach (var ticket in Model.Tickets) {
	<tr>
		<th>
			<a asp-action="Open" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Destination</a>
		</th>
		<th>@ticket.Institution</th>
		<th>@ticket.DateAdded.ToString("d")</th>
		@if (ticket.IsUrgent)
		{
		<th>&#10004;</th>
		}
		else
		{
		<th></th>
		}
	</tr>
    }
</table>