@{
    ViewData["Title"] = $"{Model.Client.FirstName} {Model.Client.LastName}";
}
@using GoldenTicket.Models.ClientsViewModels

@model ClientDetails

<h3>Лични подаци запосленог</h3>
<p>
	Име и презиме: @Model.Client.FirstName @Model.Client.LastName <br>
	Катедра: @Model.Client.Chair<br>
	Звање запосленог: @Model.Client.Title<br>
	Датум запослења: @Model.Client.DateAdded.ToString("d")
</p>

<h3>Број отворена службених путовања: @Model.OpenTicketCount</h3>
<table>
	<tr>
		<th>Место путовања</th>
		<th>Установа путовања</th>
		<th>Датум подношења захтева</th>
		<th>Хитно</th>
	</tr>
    @foreach (var ticket in Model.Tickets) {
	<tr>
		<th>
			<a asp-action="Open" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Destination</a>
		</th>
		<th>@ticket.Institution</th>
		<th>@ticket.DateAdded.ToString("d")</th>
		@if (ticket.IsUrgent)
		{
			<th>&#10004;</th>
		}
		else
		{
			<th></th>
		}
	</tr>
    }
</table>