@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = Model.Destination;
}
@using GoldenTicket.Models
@model Ticket

<form method="post">
	<input asp-for="Id" type="hidden">
	<label>@Localizer["Destination"]</label>
	<input asp-for="Destination">
	<label>@Localizer["Institution"]</label>
	<input asp-for="Institution">
	<label>@Localizer["Notes"]</label>
	<input asp-for="Notes">
	<p>
		<label>
			<input asp-for="Open" />
			<span>@Localizer["Open?"]</span>
		</label>
	</p>
	<input class="waves-effect waves-light btn" type="submit" value="@Localizer["Save"]">
</form>
