@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@{
	ViewData["Title"] = Model.Destination;
}
@using GoldenTicket.Models
@model Ticket

<form method="post">
	<input asp-for="Id" type="hidden">
	<label>@_localizer["Destination"]</label>
	<input asp-for="Destination">
	<label>@_localizer["Institution"]</label>
	<input asp-for="Institution">
	<label>@_localizer["Notes"]</label>
	<input asp-for="Notes">
	<p>
		<label>
			<input asp-for="Open" />
			<span>@_localizer["Open?"]</span>
		</label>
	</p>
	<input class="waves-effect waves-light btn" type="submit" value="@_localizer["Save"]">
</form>
