@{
	ViewData["Title"] = Model.Ticket.Destination;
}
@using GoldenTicket.Models.TicketsViewModels
@using GoldenTicket.Data
@model TicketDetails

@if (Model.Ticket.IsUrgent)
{
	<h3 class="center red">URGENT</h3>
}

@if (User.IsInRole(DataConstants.AdministratorRole) || User.Identity.Name == Model.Client.UserName)
{
	<form asp-action="ToggleUrgent" asp-route-id="@Model.Ticket.Id" method="post">
		<input class="waves-effect waves-light btn" type="submit" value="Toggle Urgent">
	</form>
}

<h3>Client Details</h3>
<p>
	Name: @Model.Client.FirstName @Model.Client.LastName <br>
	Title: @Model.Client.Title<br>
	Chair: @Model.Client.Chair<br>
	<a asp-action="Open" asp-controller="Clients" asp-route-id="@Model.Client.Id">More Information</a>
</p>

<h3>Ticket Details</h3>
<p>
	Date Added: @Model.Ticket.DateAdded <br>
	Status: @(Model.Ticket.Open ? "Open" : "Closed") <br>
	Destination: @Model.Ticket.Destination <br>
	Description: @Model.Ticket.Description <br>
	Notes: @Model.Ticket.Notes <br>
	<a asp-action="Edit" asp-route-id="@Model.Ticket.Id">Edit</a>
</p>

@if (Model.Ticket.Open)
{
	@if (User.IsInRole(DataConstants.AdministratorRole))
	{
		<th>
			<a asp-action="Review" asp-route-id="@Model.Ticket.Id">Review</a>
		</th>
	}
}
<table>
	<tr>
		<th>Reviewer</th>
		<th>Outcome</th>
		<th>Time</th>
	</tr>
	@foreach (var review in Model.Reviewes)
	{
		<tr>
			<th>@review.Moderator.FirstName @review.Moderator.LastName</th>
			<th>@review.TicketReviewOutcome.ReviewOutcome</th>
			<th>@review.TicketReviewOutcome.Timestamp</th>
		</tr>
	}
</table>
