@{
	ViewData["Title"] = Model.Ticket.Destination;
}
@using GoldenTicket.Models.TicketsViewModels
@using GoldenTicket.Helpers
@using GoldenTicket.Models
@using GoldenTicket.Data
@model TicketDetails

@if (Model.Ticket.IsUrgent)
{
	<h3 class="center red">URGENT</h3>
}

@if (User.IsInRole(Role.Administrator) || User.Identity.Name == Model.Client.UserName)
{
	<form asp-action="ToggleUrgent" asp-route-id="@Model.Ticket.Id" method="post">
		<input class="waves-effect waves-light btn" type="submit" value="Toggle Urgent">
	</form>
}

<h3>ПОДАЦИ ЗАПОСЛЕНОГ</h3>
<p>
	Име, презиме и звање запосленог: @Model.Client.FirstName, @Model.Client.LastName @Model.Client.Title<br>
	Катедра: @Model.Client.Chair <br>
	Број мобилног телефона: @Model.Client.PhoneNumber<br>
	<a asp-action="Open" asp-controller="Clients" asp-route-id="@Model.Client.Id">More Information</a>
</p>

<h3>ЗАХТЕВ ЗА СЛУЖБЕНИ ПУТ</h3>
<p>
	Датум подношења: @Model.Ticket.DateAdded <br>
	Статус: @(Model.Ticket.Open ? "Отворен" : "Затворен") <br>
	Место путовања: @Model.Ticket.Destination <br>
	Установа путовања: @Model.Ticket.Institution <br>
	Лице за контакт у установи путовања (телефон, е-маил): @Model.Ticket.ContactPersonOnSite <br>
	Notes: @Model.Ticket.Notes <br>
	<a asp-action="Edit" asp-route-id="@Model.Ticket.Id">Edit</a>
</p>

@if (Model.Ticket.Open)
{
	@if (TicketStateHelper.UserCanReview(User, Model, out var role))
	{
		<th>
			<a asp-action="Review" asp-route-id="@Model.Ticket.Id" asp-route-role=@role>Review</a>
		</th>
	}
}
<table>
	<tr>
		<th>Reviewer</th>
		<th>Outcome</th>
		<th>Role</th>
		<th>Time</th>
	</tr>
	@if (Model.Reviewes?.Count > 0)
	{
		@foreach (var review in Model.Reviewes)
		{
			<tr>
				<th>@review.Moderator.FirstName @review.Moderator.LastName</th>
				<th>@review.TicketReviewOutcome.ReviewOutcome</th>
				<th>@review.TicketReviewOutcome.Role</th>
				<th>@review.TicketReviewOutcome.Timestamp</th>
			</tr>
		}
	}
</table>
