@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@{
	ViewData["Title"] = Model.Ticket.Destination;
}
@using GoldenTicket.ViewModels.Tickets
@using GoldenTicket.Helpers
@using GoldenTicket.Data
@model TicketDetails

@if (Model.Ticket.IsUrgent)
{
<h3 class="center red">@_localizer["URGENT"]</h3>
}

@if (Model.Ticket.IsAbroad)
{
<h3 class="center blue">@_localizer["Abroad"]</h3>
}

@if (User.IsInRole(Role.Administrator) || User.Identity.Name == Model.Client.UserName)
{
<form asp-action="ToggleUrgent" asp-route-id="@Model.Ticket.Id" method="post">
	<input class="waves-effect waves-light btn" type="submit" value="@_localizer["Change Urgency"]">
</form>
}

<h3>@_localizer["Personal Data"]</h3>
<p>
	@_localizer["Full Name and Title"]: @Model.Client.FirstName, @Model.Client.LastName @Model.Client.Title<br>
	@_localizer["Chair"]: @Model.Client.Chair <br>
	@_localizer["Phone Number"]: @Model.Client.PhoneNumber<br>
	<a asp-action="Open" asp-controller="Clients" asp-route-id="@Model.Client.Id">@_localizer["More Information"]</a>
</p>

<h3>@_localizer["Application"]</h3>
<p>
	@_localizer["Application Date"]: @Model.Ticket.DateAdded <br>
	@_localizer["Status"]: @(Model.Ticket.Open ? _localizer["OpenLabel"] : _localizer["Closed"]) <br>
	@_localizer["Destination"]: @Model.Ticket.Destination <br>
	@_localizer["Institution"]: @Model.Ticket.Institution <br>
	@_localizer["Contact Person on Site"]: @Model.Ticket.ContactPersonOnSite <br>
	@_localizer["Notes"]: @Model.Ticket.Notes <br>
	<a asp-action="Edit" asp-route-id="@Model.Ticket.Id">@_localizer["Edit"]</a>
</p>

@if (Model.Ticket.Open)
{
@if (TicketStateHelper.UserCanReview(User, Model, out var role))
	{
<th>
	<a asp-action="Review" asp-route-id="@Model.Ticket.Id" asp-route-role=@role>@_localizer["Reviewed by"]</a>
</th>
	}
}
<table>
	<tr>
		<th>@_localizer["Reviewed by"]</th>
		<th>@_localizer["Outcome"]</th>
		<th>@_localizer["Role"]</th>
		<th>@_localizer["Time"]</th>
	</tr>
	@if (Model.Reviewes?.Count > 0)
	{
	@foreach (var review in Model.Reviewes)
		{
	<tr>
		<th>@review.Moderator.FirstName @review.Moderator.LastName</th>
		<th>@review.TicketReviewOutcome.ReviewOutcome</th>
		<th>@review.TicketReviewOutcome.ReviewerRole</th>
		<th>@review.TicketReviewOutcome.Timestamp</th>
	</tr>
		}
	}
</table>
