@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Review for"] + " " + Model.TicketTitle;
}
@using GoldenTicket.ViewModels.Tickets
@using GoldenTicket.Models
@model TicketReviewViewModel

<form method="post">
	<input asp-for="TicketId" type="hidden">
	<input asp-for="ReviewerRole" type="hidden">

	<label>@_localizer["Title"]</label>
	<input asp-for="TicketTitle">

	<p>
		<label>
			<input asp-for="ReviewOutcome" type="radio" value="Approved" onclick="enableConfirm()" />
			<span>@_localizer["Approve"]</span>
		</label>
		<br />
		<label>
			<input asp-for="ReviewOutcome" type="radio" value="Rejected" onclick="enableConfirm()" />
			<span>@_localizer["Reject"]</span>
		</label>
	</p>

	<button class="btn" onclick="goBack()">@_localizer["Go Back"]</button>

	<button class="btn" type="submit" id="btnConfirm" disabled>@_localizer["Confirm"]</button>
</form>

<script>
	function goBack() {
		window.history.back();
	}
	function enableConfirm() {
		document.getElementById("btnConfirm").disabled = false;
	}
</script>