@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

@{
	ViewData["Title"] = _localizer["Add Client"];
}
@using GoldenTicket.ViewModels.Administrators
@model NewClient

<form method="post">
	<label>@_localizer["First Name"]</label>
	<input asp-for="FirstName">
	<label>@_localizer["Last Name"]</label>
	<input asp-for="LastName">
	<label>@_localizer["Title"]</label>
	<input asp-for="Title">
	<label>@_localizer["Chair"]</label>
	<input asp-for="Chair">
	<label>@_localizer["Role"]</label>
	<input asp-for="Role">
	<label>@_localizer["Password"]</label>
	<input asp-for="Password">
	<button class="btn" type="submit">@_localizer["Confirm"]</button>
</form>