@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Add Client"];
}
@using GoldenTicket.Models.AdministratorsViewModels
@model NewClient

<form method="post">
	<label>@Localizer["First Name"]</label>
	<input asp-for="FirstName">
	<label>@Localizer["Last Name"]</label>
	<input asp-for="LastName">
	<label>@Localizer["Title"]</label>
	<input asp-for="Title">
	<label>@Localizer["Chair"]</label>
	<input asp-for="Chair">
	<label>@Localizer["Role"]</label>
	<input asp-for="Role">
	<label>@Localizer["Password"]</label>
	<input asp-for="Password">
	<button class="btn" type="submit">@Localizer["Confirm"]</button>
</form>