@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

@{
	ViewData["Title"] = _localizer["Edit Client"];
}
@using GoldenTicket.Models

@model Client

<form method="post">
	<input asp-for="Id" type="hidden">
	<label>@_localizer["First Name"]</label>
	<input asp-for="FirstName" value="@Model.FirstName">
	<label>@_localizer["Last Name"]</label>
	<input asp-for="LastName" value="@Model.LastName">
	<label>@_localizer["Title"]</label>
	<input asp-for="Title" value="@Model.Title">
	<label>@_localizer["Chair"]</label>
	<input asp-for="Chair" value="@Model.Chair">
	<label>@_localizer["Role"]</label>
	@Html.DropDownListFor(model => model.Role, Model.GetRoles())
	<br />
	<button class="btn" type="submit">@_localizer["Save"]</button>
</form>
