@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
	var requestCulture = Context.Features.Get<IRequestCultureFeature>();
	var cultureItems = LocOptions.Value.SupportedUICultures
		.Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
		.ToList();
	var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

	ViewData["Title"] = Localizer["Profile"];
}

@using GoldenTicket.Models.HomeViewModel

@model ClientUpdate

<form method="post">
	<input asp-for="Id" type="hidden">
	<label>@Localizer["Name"]</label>
	<input asp-for="FirstName" value="@Model.FirstName">
	<label>@Localizer["Surname"]</label>
	<input asp-for="LastName" value="@Model.LastName">
	<label>@Localizer["Title"]</label>
	<input asp-for="Title" value="@Model.Title">
	<label>@Localizer["Chair"]</label>
	<input asp-for="Chair" value="@Model.Chair">
	<label>@Localizer["Email"]</label>
	<input asp-for="Email" value="@Model.Email">
	<label>@Localizer["Phone"]</label>
	<input asp-for="PhoneNumber" value="@Model.PhoneNumber">
	<label>@Localizer["Current Password"]</label>
	<input asp-for="CurrentPassword" value="@Model.CurrentPassword" type="password" minlength="8">
	<label>@Localizer["New Password"]</label>
	<input asp-for="NewPassword" value="@Model.NewPassword" type="password" minlength="8">
	@if (Model.Status != null)
	{
		@if (Model.Status.Succeeded)
		{
			<h6 id="status" class="center blue">@Localizer["Password changed!"]</h6>
		}
		else
		{
			<h6 id="status" class="center red">@Localizer["Password change failed!"]</h6>
			foreach (var error in Model.Status.Errors)
			{
				<h6 id="status" class="materialize-red-text">@error.Description</h6>
			}
		}
	}
	<br />
	<button class="btn" type="submit">@Localizer["Save"]</button>
</form>
