@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

@{
	ViewData["Title"] = _localizer["Reports"];
}
@using GoldenTicket.ViewModels.Reports

@model ReportDetails

<p id="TimeSpanToggle" class="waves-effect waves-light btn-small">@_localizer["Monthly Activity"]</p>

<h3>@_localizer["Outcomes:"]</h3>

<table class="striped centered highlight">
	<tr>
		<th>@_localizer["Reviewer"]</th>
		<th>@_localizer["Outcome"]</th>
	</tr>
	@foreach (var reviewer in Model.Reviews)
	{
		<tr>
			<th>@reviewer.Client.FirstName @reviewer.Client.LastName</th>
			<th>@reviewer.ReviewOutcome</th>
		</tr>
	}
</table>
