@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Reports"];
}
@using GoldenTicket.Models.ReportsViewModels

@model ReportDetails

<p id="TimeSpanToggle" class="waves-effect waves-light btn-small">@Localizer["Monthly Activity"]</p>

<h3>@Localizer["Outcomes:"]</h3>

<table class="striped centered highlight">
	<tr>
		<th>@Localizer["Reviewer"]</th>
		<th>@Localizer["Outcome"]</th>
	</tr>
	@foreach (var reviewer in Model.Reviews)
	{
		<tr>
			<th>@reviewer.Client.FirstName @reviewer.Client.LastName</th>
			<th>@reviewer.ReviewOutcome</th>
		</tr>
	}
</table>
